<!doctype html>
<html>
<head>
    <title>Haydn Enthusiasts</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head
<body>

<style>

#people {
    margin-top: 30px;
    width: 800px;
}
.person-image {
    width: 250px;
}
h2 {
    margin-top: 5px;
}
h3 {
    margin-top: -20px;
}
.person {
    position: relative;
    width: 800px;
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 30px;
    overflow: hidden;
}
.person-left {
    float: left;
    width: 280px;
}
.person-right {
    float: right;
    width: 520px;
}
.person-right p {
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
}

</style>

<div id="header">
        <a href="/about.html"><img src="/assets/haydn_sq_50.png"></img></a>
        <h1>THE HAYDN ENTHUSIASTS</h1>
        <ul>
            <li><a href="/about.html">ABOUT</a></li>
            <li><a href="/">CONCERTS</a></li>
            <li><a class="active" href="/enthusiasts.html">ENTHUSIASTS</a></li>
            <li><a href="http://fb.me/haydnenthusiasts">FACEBOOK</a></li>
            <li><a href="https://twitter.com/haydnenthusiast">TWITTER</a></li>
        </ul>
</div>

<div id="container">
<div id="title">
    <h1>ENTHUSIASTS</h1>
</div>
<div id="people">
</div>
</div>

<script src="/js/underscore-min.js"></script>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/d3.v3.min.js"></script>

<script type="text/template" id="person-template">
<div class="person-left">
    <a name="<%= target %>"><img class="person-image" src="<%= personPhoto(photo) %>"></img></a>
    <h2><%= name %></h2>
    <h3><%= instrument %></h3>
</div>
<div class="person-right">
    <p><%= blurb %></p>
</div>
</script>

<script>

function personPhoto(photo){
    return "/assets/people/" + photo;
}

d3.json('./data.json', function(data) {
    window.data = data
    window.people = [];
    for (var person in data.performers) {
        var p = data.performers[person];
        p['name'] = person;
        p['target'] = person.replace(" ","_");
        people.push(p);
    }

    people.forEach(function(person, idx) {
        var compiled = _.template($('#person-template').html());
        var el = $('<div id="person-' + idx + '" class="person">');
        el.html(compiled(person));
        $('#people').append(el);
    });
});
</script>
</body>
</html>
