{% extends "base.html" %}
{% block title %}The Enthusiasts{% endblock %}

{% block meta %}
{{ super() }}
<meta property="og:title" content="About The Haydn Enthusiasts"/>
<meta property="og:description" content="Andrew Wong, Violin, is a cofounder of the Haydn Enthusiasts and an Engineer at Postmates. Jason Sundram, Violin, is a cofounder of the Haydn Enthusiasts and a Quantitative Engineer at Facebook. Elaine Leisinger, Viola, is a cofounder of the Haydn Enthusiasts, an avid musician, and a professor of mathematics at UMass Boston. Lewis Patzner, Cello, is an Oakland-based cellist and a cofounder of the Haydn Enthusiasts."/>
{% endblock %}

{% block content %}
<style>

#people {
    margin-top: 30px;
    width: 800px;
}
.person-image {
    width: 250px;
}
h2 {
    margin-top: 5px;
}
h3 {
    margin-top: -20px;
}
.person {
    position: relative;
    width: 800px;
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 30px;
    overflow: hidden;
}
.person-left {
    float: left;
    width: 280px;
}
.person-right {
    float: right;
    width: 520px;
}
.person-right p {
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
}

</style>

<div id="title">
    <h1>ENTHUSIASTS</h1>
</div>
<div id="people">
{% for performer in performers %}
<a name="{{ performer.link }}"></a>
<div class="person">
<div class="person-left">
    <img class="person-image" src="{{ performer.photo }}"></img>
    <h2>{{ performer.name }}</h2>
    <h3>{{ performer.instrument }}</h3>
</div>
<div class="person-right">
    <p>{{ performer.blurb }}</p>
</div>
</div>
{% endfor %}
</div>

{% endblock content %}
